[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tddgit
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tddgit
	label-Verified = -1..+1 group user/tddgit
	push = group user/tddgit
	read = group user/tddgit
	rebase = group user/tddgit
	removeReviewer = group user/tddgit
	submit = group user/tddgit
[access "refs/heads/*"]
	create = group user/tddgit
	push = +force group user/tddgit
	pushMerge = group user/tddgit
	read = group user/tddgit
[access "refs/tags/*"]
	push = group user/tddgit
	push = +force group user/tddgit
